<form [formGroup]="recipeForm" (ngSubmit)="submit(recipeForm)">
  <div class="form-group">
    <label for="recipename" class="headerSecondaryTealBeige">recipe</label>
    <br/>
    <input id="recipename" class="form-control form-control-sm" formControlName="recipename"
           type="text" placeholder="Name...">
    <button class="btn-default" style="margin: 0 5px 10px" type="submit">Add</button>
  </div>
</form>


