<div id="dimmer" class="dimmer"></div>
<!-- The Modal -->
<div id="myModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content bgBeige">

      <!-- Modal Header -->
      <div class="modal-header">
        <h1 class="headerPrimaryDarkCyanBeige">Articles</h1>
        <p class="headerSecondaryTealBeige">add</p>
        <button type="button" class="close" (click)="closeModal()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="submit(form)">
          <div class="form-group">
            <label for="articlename" class="headerSecondaryTealBeige">article</label>
            <br/>
            <div class="form-inline" style="align-items: flex-start">
              <input id="articlename" class="form-control form-control-sm" formControlName="articlename"
                     type="text" placeholder="Name...">
              <button class="btn-default" type="submit" style="padding: 0 6px 3px 6px">
                <img src="../../../../assets/img/round-add-button.svg" style="height: 20px; width: 20px;">
              </button>
            </div>
            <label for="amount" class="headerSecondaryTealBeige">amount & unit</label>
            <div class="form-inline">
              <br/>
              <input id="amount" class="form-control form-control-sm"
                     formControlName="amount" type="text" placeholder="Amount...">
              <select id="unit" formControlName="unit" class="form-control form-control-sm">
                <option *ngFor="let unit of unitList">{{unit.abbreviation}}</option>
              </select>
            </div>
            <label for="date" class="headerSecondaryTealBeige">date</label>
            <input id="date" type="date" name="buyDate" class="form-control form-control-sm"
                   formControlName="date">
          </div>
        </form>
        <div id="articleBasket" class="chipContainer">
          <div class="chip fntSize10 bgDarkCyan textColorBeige" *ngFor="let article of articles">
            {{article.amount}} {{this.unitMap.get(article.unitUuid).abbreviation}} {{article.name}}, {{article.dateToBuy | date: 'dd.MM.'}}
            <span class="closebtn bgDarkCyan" (click)="removeArticleFromArray(article)">&times;</span>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btnSimple" (click)="closeModal()">close</button>
        <p class="formError" *ngIf="this.articlesAdded">{{this.articlesAdded}}</p>
        <button type="button" class="btnSimple" (click)="onDone()">done</button>
      </div>
    </div>
  </div>
</div>
