#myModal {
  animation-duration: .75s;
  animation-name: slidein;
  animation-fill-mode: forwards;
  z-index: 10;
  display: block;
}

@keyframes slidein {
  from {
    margin-top: -50%;
    /*width: 300%;*/
  }

  to {
    margin-top: 5%;
    /*width: 100%;*/
  }
}

.modal-header {
  border: none;
  padding-bottom: 0;
}

.modal-footer {
  padding: 10px;
  justify-content: center;
  border: none;
}


.closebtn {
  padding-left: 10px;
  font-weight: bold;
  float: right;
  font-size: 10pt;
  cursor: pointer;
}

.closebtn:hover {
  color: #000;
}
