<div id="dimmer" class="dimmer"></div>
<!-- The Modal -->
<div id="myModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content bgBeige">

      <!-- Modal Header -->
      <div class="modal-header">
        <h1 class="headerPrimaryDarkCyanBeige">Recipe</h1>
        <p class="headerSecondaryTealBeige">delete</p>
        <button type="button" class="close" (click)="closeModal()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="form-group">
          <p>{{confirmMessage}}</p>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btnSimple" (click)="closeModal()">no</button>
        <button type="button" class="btnSimple" (click)="confirm()">yes</button>
      </div>
    </div>
  </div>
</div>
