<div *ngIf="recipe">
  <div class="recipeDetail col-sm-12 shadow">
    <div class="header">
      <h1 class="headerPrimaryDarkCyanBeige">{{recipe.name}}</h1>
      <div class="filler"></div>
        <img src="../../../../assets/img/save.svg" (click)="updateRecipe()">
        <img src="../../../../assets/img/rubbish-bin.svg" (click)="switchTemplate(confirmDialog)">
        <img src="../../../../assets/img/return-arrow.svg" (click)="goBack()">
    </div>
    <p class="headerSecondaryTealBeige" style="display: inline-block">{{recipe.userDto.username}}</p>
    <div class="ingredients">
      <h4>Ingredients</h4>
      <form [formGroup]="ingredientForm" (ngSubmit)="addIngredientDto(ingredientForm)">
        <table>
          <tr>
            <th>name</th>
            <th>unit</th>
            <th>amount</th>
            <th style="width: 8%; min-width: 60px;">
              <div class="aligner">
                <div class="text">action</div>
                <div class="icon"></div>
              </div>
            </th>
          </tr>
          <tr class="ingredientDetails fntSize10" *ngFor="let ingredient of recipe.ingredientDtos">
            <td>{{ingredient.name}}</td>
            <td>{{ingredient.unitDto.name}}</td>
            <td>{{ingredient.amount}}</td>
            <td>
              <img src="../../../assets/img/check-mark.svg" style="visibility: hidden;">
              <img src="../../../assets/img/rubbish-bin.svg" (click)="removeIngredientFromRecipe(ingredient)">
            </td>
          </tr>
          <tr>
            <td>
              <input class="form-control form-control-sm" formControlName="name"
                     type="text" placeholder="name...">
            </td>
            <td>
              <select id="unit" formControlName="unit" class="form-control form-control-sm">
                <option *ngFor="let unit of unitList">{{unit.name}}</option>
              </select>
            </td>
            <td>
              <input class="form-control form-control-sm" formControlName="amount"
                     type="text" placeholder="amount...">
            </td>
            <td>
              <button type="submit" style="background-color: transparent; border: none; margin: unset; padding: unset;">
                <img src="../../../assets/img/check-mark.svg">
              </button>
              <img src="../../../assets/img/rubbish-bin.svg" (click)="resetForm()">
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>
<div id="portalOutlet">
  <ng-template #confirmDialog>
    <app-confirm-dialog [confirmMessage]="confirmMessage"
                        (closeConfirmDialog)="clearTemplates()"
                        (confirmAction)="clearTemplates(); deleteRecipe()">
    </app-confirm-dialog>
  </ng-template>
</div>
