th .aligner {
  display: flex;
  align-items: center;
}

input, select {
  border-color: #333333;
}

.recipeDetail {
  background-color: beige;
  min-height: 500px;
  border-radius: 3px;
  padding: 15px;
}

.header {
  display: flex;
  align-items: flex-start;
}

.ingredients {
  margin-top: 10px;
}
