<div class="title shadow">
  <div style="display: flex;">
    <h2 class="headerPrimaryDarkCyanBeige siteHeader" style="padding: 5px 10px;">{{title}}</h2>
    <p class="headerSecondaryTealBeige siteHeader">ultimate</p>
    <div class="filler bgTeal"></div>
    <app-navbar class="bgTeal"></app-navbar>
  </div>
</div>
<div class="container-fluid wrapper">
  <router-outlet></router-outlet>
  <div class="push"></div>
</div>
<footer class="siteImpressum bg-dark container-fluid">
  <p class="footerParagraph textColorBeige fntSize10 text-center">logged in as</p>
  <p class="footerParagraph textColorBeige fntSize10 text-center">{{loggedIn()}}</p>
  <p class="footerParagraph textColorBeige text-center" style="font-size: 8pt; margin-top: 10px">Icons made by <a href="https://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></p>
</footer>
<!-- LOADINGSPINNER -->
<div class="loadingSpinner">
  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
        style="height: 25px; width: 25px;"></span>
</div>
<!-- SNACKBAR -->
<div id="snackbar">
  <div class="snackBarHeader">
    <img src="../../../assets/img/information.svg">
    <span id="snackBarHeaderText"></span>
    <div class="filler"></div>
    <button id="closeSnackBar" type="button" class="close" (click)="closeSnackBar()">&times;</button>
  </div>
  <div class="snackBarBody">
    <div>
      <p id="snackBarMessage"></p>
    </div>
  </div>
</div>
