.title {
  width: 100%;
  margin: 0;
/*  padding: 10px 15px 0px;*/
  border-radius: unset;
  position: fixed;
  top: 0;
  z-index: 9999;
  background-color: whitesmoke;
/*  background: url("src/assets/img/Background_Header_Light.png");*/
}

.siteImpressum {
  border-radius: unset;
  opacity: 0.8;
  box-shadow: -1px 0 2px black;
}

.siteHeader {
  margin: 0;
  display: inline-block;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -80px;
  border-radius: unset;
  margin-top: 70px;
}

.push {
  height: 150px;
  border-radius: unset;
}

footer {
  height: 80px;
  border-radius: unset;
  padding: 10px 0 10px 0;
}

.footerParagraph {
  margin: 0;
}

/*
----------------------------------------------------------
----------------------- SNACKBAR -------------------------
----------------------------------------------------------
*/

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 200px; /* Set a default minimum width */
  max-width: 200px;
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: white; /* Black background color */
  color: #333333; /* White text color */
  border-radius: 2px; /* Rounded borders */
  padding: 8px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 9999; /* Add a z-index if needed */
  right: 5px; /* Position the snackbar horirzontally*/
  bottom: 30px; /* 30px from the bottom */
  font-size:  9pt;
  border: 1px double #888888;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5) !important;
  -moz-box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5) !important;
  box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5) !important;
}

.snackBarHeader img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.snackBarHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: solid gray;
  border-width: 0 0 1px 0;
  padding: 0 0 5px 5px;
  font-size: 10pt;
}

.snackBarBody {
  margin-top: 8px;
  padding: 0 5px;
}

#snackBarMessage {
  margin-bottom: 0;
  margin-right: 15px;
}

#closeSnackBar {
  color: #333333;
  /*text-shadow: unset;*/
  font-size: 18pt;
  position: relative;
  top: -8px;
  right: -3px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.75 seconds to fade in and out the snackbar.
  However, delay the fade out process for 9.25 seconds */
  -webkit-animation: fadein 0.75s, fadeout 0.75s 9.25s;
  animation: fadein 0.75s, fadeout 0.75s 9.25s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
