<div id="dimmer" class="dimmer"></div>
<form [formGroup]="form" (ngSubmit)="submit(form)">

  <!-- The Modal -->
  <div id="myModal" class="modal">
    <div class="modal-dialog">
      <div class="modal-content bgBeige">

        <!-- Modal Header -->
        <div class="modal-header">
          <h1 class="headerPrimaryDarkCyanBeige">Recipe</h1>
          <p class="headerSecondaryTealBeige">add</p>
          <button type="button" class="close" (click)="closeModal()">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="form-group">
            <label for="recipename" class="headerSecondaryTealBeige">name</label>
            <br/>
            <input id="recipename" class="form-control form-control-sm" formControlName="name"
                   type="text" placeholder="Name...">
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btnSimple" (click)="closeModal()">close</button>
          <button type="submit" class="btnSimple">add</button>
        </div>
      </div>
    </div>
  </div>
</form>
