<div class="container-fluid" style="border: 2px solid black; margin-bottom: 20px;">
  <h2 style="margin-top: 20px">GetArticleByID</h2>
  <div style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="articleName">Artikel Name</label>
        <input type="text" class="form-control" id="articleName"
               required [(ngModel)]="article.name" name="articleName">
      </div>
      <div class="form-group">
        <label for="amount">Menge</label>
        <input type="text" class="form-control" id="amount"
               required [(ngModel)]="article.amount" name="amount">
      </div>

      <button type="submit" class="btn btnSimple shadow" style="margin-bottom: 20px;">Edit</button>
    </form>
  </div>
</div>
