<nav>
  <div style="display: flex; align-items: flex-end; padding-top: 10px;">
    <div class="dropdown" *ngIf="this.authService.loggedIn">
      <button class="dropbtn bgTeal">
        <img style="height: 25px;
                  width: 20px;
                  opacity: 0.8;" src="../../../assets/img/add.svg">
      </button>
      <div class="dropdown-content dropdown-content-right">
        <a role="button" (click)="switchTemplate(addArticleDialog)">
          <img src="../../../assets/img/groceries_white.svg">
          articles</a>
        <a role="button" (click)="switchTemplate(addUnitDialog)">
          <img src="../../../assets/img/kilogram.svg">
          units</a>
        <a role="button" (click)="switchTemplate(createRecipeDialog)">
          <img src="../../../assets/img/recipe-book.svg">
          recipe</a>
        <a role="button" (click)="switchTemplate(addRecipeToListDialog)">
          <img src="../../../assets/img/list-add.svg">
          recipe</a>
      </div>
    </div>
    <div class="dropdown">
      <button class="dropbtn bgTeal">
        <img style="height: 25px;
                  width: 25px;
                  opacity: 0.8;" src="../../../assets/img/menu-button.svg">
      </button>
      <div class="dropdown-content">
        <a routerLink="home" role="button" routerLinkActive="active">
          <img src="../../../assets/img/home.svg">
          home</a>
        <a routerLink="articles" role="button" routerLinkActive="active">
          <img src="../../../assets/img/search.svg">
          list</a>
        <a class="secondLastDropDwnItem" routerLink="recipes" role="button" routerLinkActive="active">
          <img src="../../../assets/img/recipe-book.svg">
          recipes</a>
        <ng-container *ngIf="authService.currentUserAdmin">
          <a class="lastDropDwnItem" routerLink="admin" role="button" routerLinkActive="active">
            <img src="../../../assets/img/customer-support.svg">
            settings</a>
        </ng-container>
        <ng-container *ngIf="authService.loggedIn">
          <a class="lastDropDwnItem" routerLink="login" role="button" routerLinkActive="active" (click)="logout()">
            <img src="../../../assets/img/logout.svg">
            logout</a>
        </ng-container>
      </div>
    </div>
  </div>
</nav>
<div id="portalOutlet">
  <ng-template #addArticleDialog>
    <app-article-create-dialog (closeArticleCreateDialog)="clearTemplates()"></app-article-create-dialog>
  </ng-template>
  <ng-template #addUnitDialog>
    <app-unit-create-dialog (closeUnitCreateDialog)="clearTemplates()"></app-unit-create-dialog>
  </ng-template>
  <ng-template #createRecipeDialog>
    <app-recipe-create-dialog (closeRecipeCreateDialog)="clearTemplates()"></app-recipe-create-dialog>
  </ng-template>
  <ng-template #addRecipeToListDialog>
    <app-recipe-add-dialog (closeRecipeAddDialog)="clearTemplates()"></app-recipe-add-dialog>
  </ng-template>
</div>

