.card:hover {
  background-color: dimgray !important;
}

.card {
  margin-left: 10px !important;
  margin-right: 10px !important;
/*  min-width: 200px;
  max-width: 18rem;*/
}

.recipeContainer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 20px;
  border: solid #333333;
  border-width: 1px 0 0 0;
}
