<div class="input-group mb-3 justify-content-lg-center" style="margin-bottom: 10px !important;">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">
      <img src="../../../assets/img/magnifier.svg" style="width: 23px; height: 23px;">
    </span>
  </div>
  <input type="text" class="form-control" placeholder="Recipe"
         aria-label="Username" aria-describedby="basic-addon1" (keyup)="filterRecipes($event)">
</div>
<div class="recipeContainer">
  <div class="card text-white bg-secondary mb-3 shadow col-lg-2" style="cursor: pointer;" [routerLink]="['/recipe',recipe.uuid]"
       *ngFor="let recipe of filteredRecipes | paginate: { itemsPerPage: 15, currentPage: pArchived}">
    <div class="card-header">
      <h5>{{recipe.name}}</h5>
      <p class="fntSize10">{{recipe.userDto.username}}</p>
    </div>
    <div class="card-body">
      <h6 class="card-title">Ingredients</h6>
      <div class="card-text fntSize10">
        <span *ngFor="let ingredient of recipe.ingredientDtos">
          <ng-container *ngIf="recipe.ingredientDtos.indexOf(ingredient) < 3">
            {{ingredient.name}}, {{ingredient.amount}} {{ingredient.unitDto.abbreviation}} |
          </ng-container>
        </span>
        <span>...</span>
      </div>
    </div>
  </div>
  <div class="text-center" style="width: 100%">
    <pagination-controls class="my-pagination" (pageChange)="pArchived = $event"></pagination-controls>
  </div>
</div>
