<div class="col-lg-12">
  <div class="col-lg-12 tableTitle">
    <h2 class="tableTitleHeader bgDarkCyan textColorBeige">Users</h2><br/>
    <p class="textColorBeige tableTitlePara bgTeal">active</p>
  </div>
  <div class="col-lg-12">
    <table class="table-dark shadow">
      <tr class="bgDarkCyan">
<!--        <th>ID</th>-->
        <th>name</th>
        <th>aktiv</th>
        <th>admin</th>
        <th>bearbeitet</th>
        <th>erstellt</th>
        <th>aktion</th>
      </tr>
      <tr *ngFor="let user of userActiveList" class="tableHover fntSize10 bgLight">
<!--        <td (click)="getUser(user.uuid)">{{user.uuid}}</td>-->
        <td (click)="getUser(user.uuid)">
          <img src="../../../assets/img/man-user.svg">
          {{user.username}}</td>
        <td (click)="getUser(user.uuid)" *ngIf="user.active; else notActive">Yes</td>
        <ng-template #notActive>
          <td>No</td>
        </ng-template>
        <td (click)="getUser(user.uuid)" *ngIf="user.admin; else noAdmin">Yes</td>
        <ng-template #noAdmin>
          <td>No</td>
        </ng-template>
        <td (click)="getUser(user.uuid)">{{user.modifyDate | date: 'dd.MM.yyyy'}}</td>
        <td (click)="getUser(user.uuid)">{{user.createDate | date: 'dd.MM.yyyy'}}</td>
        <td style="width: 8%; text-align: center">
          <img src="../../../assets/img/edit.svg">
          <img src="../../../assets/img/rubbish-bin.svg">
        </td>
      </tr>
    </table>
  </div>
  <div class="col-lg-12 tableTitle">
    <h2 class="tableTitleHeader bgDarkGray textColorBeige">Users</h2><br/>
    <p class="textColorBeige tableTitlePara bgDimGray">admins</p>
  </div>
  <div class="col-lg-12">
    <table class="table-dark shadow">
      <tr style="background-color: darkgray">
        <!--        <th>ID</th>-->
        <th>name</th>
        <th>aktiv</th>
        <th>admin</th>
        <th>bearbeitet</th>
        <th>erstellt</th>
        <th>aktion</th>
      </tr>
      <tr *ngFor="let user of userAdminList" class="tableHover fntSize10 bgLight">
        <!--        <td (click)="getUser(user.uuid)">{{user.uuid}}</td>-->
        <td (click)="getUser(user.uuid)">
          <img src="../../../assets/img/man-user.svg">
          {{user.username}}</td>
        <td (click)="getUser(user.uuid)" *ngIf="user.active; else notActive">Yes</td>
        <ng-template #notActive>
          <td>No</td>
        </ng-template>
        <td (click)="getUser(user.uuid)" *ngIf="user.admin; else noAdmin">Yes</td>
        <ng-template #noAdmin>
          <td>No</td>
        </ng-template>
        <td (click)="getUser(user.uuid)">{{user.modifyDate | date: 'dd.MM.yyyy'}}</td>
        <td (click)="getUser(user.uuid)">{{user.createDate | date: 'dd.MM.yyyy'}}</td>
        <td style="width: 8%; text-align: center">
          <img src="../../../assets/img/edit.svg">
          <img src="../../../assets/img/rubbish-bin.svg">
        </td>
      </tr>
    </table>
  </div>
  <div class="col-lg-12 tableTitle">
    <h2 class="tableTitleHeader bgWheat textColorBlack">Units</h2><br/>
    <p class="textColorBlack bgBeige tableTitlePara">active</p>
  </div>
  <div class="col-lg-12">
    <table class="table-dark shadow">
      <tr class="bgWheat textColorBlack">
        <!--        <th>ID</th>-->
        <th>name</th>
        <th>abkürzung</th>
        <th>bearbeitet</th>
        <th>erstellt</th>
        <th>aktion</th>
      </tr>
      <tr *ngFor="let unit of unitList" class="tableHover fntSize10 bgLight">
        <td >
          <img src="../../../assets/img/kilogram.svg">
          {{unit.name}}</td>
        <td >{{unit.abbreviation}}</td>
        <td >{{unit.modifyDate | date: 'dd.MM.yyyy'}}</td>
        <td >{{unit.createDate | date: 'dd.MM.yyyy'}}</td>
        <td style="width: 8%; text-align: center">
          <img src="../../../assets/img/edit.svg">
          <img src="../../../assets/img/rubbish-bin.svg">
        </td>
      </tr>
    </table>
  </div>
</div>

