/* You can add global styles to this file, and also import other style files */

body, html {
  height: 100%;
  margin: 0;
  border-radius: unset;
  background-color: #BAFFC8;
  /*background: url("assets/img/background.png");*/
}

.navbar {
  margin: 10px 0 0 0;
  padding: 0;
}

/*
----------------------------------------------------------
----------------------- BACKGROUND -----------------------
----------------------------------------------------------
*/

.bgRose {
  background-color: #D869E0;
}

.bgLightRose {
  background-color: #E3C8CA;
}

.bgLight {
  background-color: #F3DEFD;
}

.bgBeige {
  background-color: beige;
}

.bgBlueViolet {
  background-color: blueviolet;
}

.bgViolet {
  background-color: violet;
}

.bgDarkViolet {
  background-color: darkviolet;
}

.bgDarkGray {
  background-color: darkgray;
}

.bgTeal {
  background-color: #65c9a1;
}

.bgDarkCyan {
  background-color: darkcyan;
}

.bgWheat {
  background-color: wheat;
}

.bgDimGray {
  background-color: dimgray;
}

.bgImagePattern {
  background: url("/assets/img/Background_Header.png");
}

.shadow {
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5) !important;
  -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5) !important;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5) !important;
}

.shadowInsetGray {
  box-shadow: 2px 2px 3px 1px #39403d inset !important;
}

.dimmer {
  background: #000;
  opacity: 0.3;
  position: fixed; /* important to use fixed, not absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 9; /* may not be necessary */
}

/*
----------------------------------------------------------
----------------------- FONTS ----------------------------
----------------------------------------------------------
*/

.textColorBeige {
  color: beige;
}

.textColorBlack {
  color: black;
}

.fntSize10 {
  font-size: 10pt;
}

.fntSize9 {
  font-size: 9pt;
}

.formError {
  color: red;
  font-size: 8pt;
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: center;
}

.filler {
  flex: 1 1 auto;
}

/*
----------------------------------------------------------
----------------------- BUTTONS  -------------------------
----------------------------------------------------------
*/

.btnSimple, .btnGreyPink, .btnWheatPink {
  color: black;
  padding: 8px;
  font-size: 12px;
  border: none;
  cursor: pointer;
  min-width: 70px;
}

.btnSimple {
  color: whitesmoke;
  background-color: #39403d;
}

.btnGreyPink {
  background-color: gray;
}

.btnWheatPink {
  background-color: wheat;
  color: black;
}

button[disabled] {
  opacity: 0.5;
}

button[disabled]:hover {
  cursor: unset;
}

.btnGreyPink:hover, .btnWheatPink:hover {
  background-color: violet;
  color: white;
  -webkit-animation: coloring 1s ease; /* Chrome, Safari, Opera */
}

/* Standard syntax */
@keyframes coloring {
  from {
    background-color: blueviolet;
  }
  to {
    background-color: violet;
  }
}

/*
----------------------------------------------------------
----------------------- HEADERS --------------------------
----------------------------------------------------------
*/

.headerPrimaryDarkCyanBeige {
  background-color: darkcyan;
  color: beige;
  padding: 0 4px 4px 4px;
  margin: 0;
}

.headerSecondaryTealBeige {
  background-color: #65c9a1;
  font-size: 12pt;
  color: beige;
  padding: 0px 4px 4px 4px;
  margin: 0;
}

/*
----------------------------------------------------------
----------------------- DROPDOWN -------------------------
----------------------------------------------------------
*/

/* Style The Dropdown Button */
.dropbtn {
  border: unset;
  width: 45px;
  height: 45px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropbtn {
  background-color: beige;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content, .dropdown-content-left {
  right: 0;
  display: none;
  position: absolute;
  background-color: beige;
  font-size: 10pt;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
  border-radius: unset;
  cursor: pointer;
}

.dropdown-content-left {
  left: 0;
  right: unset;
}

/* Links inside the dropdown */
.dropdown-content > a,
.dropdown-content > button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  animation-name: fillBackground;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  animation-name: appear;
  animation-duration: 0.75s;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fillBackground {
  from {
    background: linear-gradient(to right, #65c9a1 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }

  50% {
    color: beige;
  }

  to {

    background: linear-gradient(to right, #65c9a1 50%, white 50%);
    background-size: 200% 100%;
    background-position: left bottom;
    color: beige
  }
}

.secondLastDropDwnItem {
  padding-bottom: 16px !important;
  border: double lightgray;
  border-width: 0 0 1px 0;
}

.lastDropDwnItem {
  padding-top: 16px;
}

/*
----------------------------------------------------------
----------------------- TABLE ----------------------------
----------------------------------------------------------
*/

.tableTitleHeader {
  margin-top: 20px;
  margin-bottom: 0;
  display: inline-block;
  padding: 0 4px 4px 4px;
}

.tableTitlePara {
  padding: 0 4px 4px 4px;
  margin: 20px 0 0;
}

.tableTitle {
  display: flex;
  z-index: 10;
}

table {
  width: 100%;
  margin: 0 auto 20px auto;
}

.btnActions {
  margin: 2px 2px;
  width: 20px;
  font-size: 8pt;
  padding: 4px 4px;
}

td {
  padding: 6px 5px 6px 5px;
}

th {
  border-bottom: 1px black solid;
  padding: 0 6px;
  font-size: 10pt;
  color: black;
}

.tableHover:hover {
  cursor: pointer;
  background-color: #E3C8CA;
}

td {
  color: black;
}

td img, .header img {
  height: 20px;
  width: 20px;
  margin-left: 2px;
  margin-right: 2px;
}

td img:hover, .header img:hover {
  opacity: 0.4;
  cursor: pointer;
}

.col-lg-12 {
  padding: 0 !important;
}

/*
----------------------------------------------------------
------------------- LOADINGSPINNER -----------------------
----------------------------------------------------------
*/

.loadingSpinner, .loadingSpinner--show {
  position: fixed;
  left: 50%;
  right: 50%;
  bottom: 0;
  z-index: 1000;
  background-color: transparent;
  padding: 10px;
  height: 45px;
  width: 45px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.loadingSpinner {
  visibility: hidden;
}

.loadingSpinner--show {
  visibility: visible;
}

.my-pagination /deep/ .ngx-pagination{
  padding: 0 !important;
}
