<form [formGroup]="form" (ngSubmit)="submit(form)">
  <div class="container" style="margin-top: 200px;">
    <div class="row justify-content-center">
      <div class="col-sm-4 bgBeige shadow">
        <div class="box bgBeige">
          <h2 class="loginTitle headerPrimaryDarkCyanBeige">{{title}}</h2>
          <div class="content bgBeige">
            <label for="username" class="headerSecondaryTealBeige">Username </label><br/>
            <div class="input-container">
              <div class="icon">
                <img src="../../../assets/img/man-user.svg">
              </div>
              <input id="username" class="loginInput" formControlName="username" type="text">
            </div>
            <label for="password" class="headerSecondaryTealBeige">Password </label><br/>
            <div class="input-container">
              <div class="icon">
                <img src="../../../assets/img/house-key.svg">
              </div>
              <input id="password" class="loginInput" formControlName="password" type="password">
            </div>
          </div>
          <span id="errorMessage" class="formError" style="display: none">Wrong Password or Username</span>
          <div style="  display: flex; justify-content: center;">
            <button class="btnSimple loginButton shadow" type="submit">
              <span>Log In</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
