.loginButton {
  margin: 15px 0;
  width: 120px;
  border-radius: 3px;
  text-align: center !important;
}

.loginInput {
  width: 100%;
  padding: 5px;
  border: 1px solid darkgray;
  opacity: 0.8;
}

.icon {
  background-color: lightgray;
  padding: 5px;
  border: 1px solid darkgray;
  border-right: none;
}

.icon img {
  height: 20px;
  width: 20px;
}

.input-container {
  display: flex;
  align-items: stretch;
  margin-top: 5px;
}

.loginInput:focus {
  background-color: white;
}

.loginTitle {
  display: inline-block;
  margin: 20px 0 0 0;
}

label {
  margin-top: 10px;
}
