.filterIcon {
  height: 14px;
  width: 14px;
  display: block;
  padding: 2px;
  opacity: 0.4;
}

.filterIcon:hover {
  opacity: 0.8;
  cursor: pointer;
}

/*.sort {
  display: flex;
  align-items: center;
}*/

th .aligner {
  display: flex;
  align-items: center;
}

.text {
  margin: 2px 0;
}

.icon {
  margin: 5px 0 3px 5px;
}

.articleDetailRow--collapsed {
  display: none;
  animation: expandRow .5s;
  animation-direction: reverse;
}

.articleDetailRow--show {
  display: table-row;
  background-color: white;
}

.articleDetailsContainer {
  opacity: 0;
  margin: 0;
  animation: expandRow .5s;
  animation-fill-mode: forwards;
  color: #333;
}

@keyframes expandRow {
  from {max-height: 0;}
  25% {opacity: 0;}
  to {max-height: 100px; opacity: 1;}
}

.articleDetails {
  border: solid dimgray;
  border-width: 1px 0 0 0;
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  margin: 0 5px;
  padding-top: 5px;
}
