<div class="col-lg-12">
  <div class="col-lg-12 tableTitle">
    <h2 class="tableTitleHeader bgDarkCyan textColorBeige">Articles</h2><br/>
    <p class="textColorBeige tableTitlePara bgTeal">new</p>
  </div>
  <div class="col-lg-12">
    <table class="shadow" style="text-align: center;">
      <tr class="bgDarkCyan">
        <!--        <th style="width: 10%">
                  <div class="aligner">
                    <div class="text">von</div>
                    <div class="icon">
                      <img class="filterIcon " src="../../../assets/img/up-arrow-key.svg"
                           (click)="this.utilService.sortArticleOwnerLexigraphical(articlesNew, userMap, 'desc')">
                      <img class="filterIcon" src="../../../assets/img/downwards-arrow-key.svg"
                           (click)="this.utilService.sortArticleOwnerLexigraphical(articlesNew, userMap, 'asc')">
                    </div>
                  </div>
                </th>-->
        <th class="sort">
          <div class="aligner">
            <div class="text">name</div>
            <div class="icon">
              <img class="filterIcon" src="../../../assets/img/up-arrow-key.svg"
                   (click)="this.utilService.sortArticleNameLexigraphical(articlesNew, 'desc')">
              <img class="filterIcon" src="../../../assets/img/downwards-arrow-key.svg"
                   (click)="this.utilService.sortArticleNameLexigraphical(articlesNew, 'asc')">
            </div>
          </div>
        </th>
        <th style="width: 12%">
          <div class="aligner">
            <div class="text">menge</div>
            <div class="icon">
              <img class="filterIcon" src="../../../assets/img/up-arrow-key.svg"
                   (click)="this.utilService.sortArticleAmountNumeric(articlesNew, 'desc')">
              <img class="filterIcon" src="../../../assets/img/downwards-arrow-key.svg"
                   (click)="this.utilService.sortArticleAmountNumeric(articlesNew, 'asc')">
            </div>
          </div>
        </th>
        <th style="width: 12%">
          <div class="aligner">
            <div class="text">einheit</div>
            <div class="icon"></div>
          </div>
        </th>
        <th style="width: 12%">
          <div class="aligner">
            <div class="text">erstellt</div>
            <div class="icon">
              <img class="filterIcon" src="../../../assets/img/up-arrow-key.svg"
                   (click)="this.utilService.sortArticleCreateDate(articlesNew, 'desc')">
              <img class="filterIcon" src="../../../assets/img/downwards-arrow-key.svg"
                   (click)="this.utilService.sortArticleCreateDate(articlesNew, 'asc')">
            </div>
          </div>
        </th>
        <th style="width: 8%; min-width: 60px;">
          <div class="aligner">
            <div class="text">aktion</div>
            <div class="icon"></div>
          </div>
        </th>
      </tr>
      <ng-container *ngFor="let article of articlesNew | filterTable : dateToFilter">
        <tr class="tableHover fntSize10 bgLight"
            style="border: 1px solid lightgray; border-width: 0 0 1px 0;">
          <!--        <td (click)="getArticle(article)">{{this.userMap.get(article.userUuid)?.username.substr(0, 2)}}</td>-->
          <td style="word-break: break-word; text-align: left" (click)="getArticle(article, $event)">
            <img src="../../../assets/img/groceries_white.svg">
            {{article.name}}
            <span *ngIf="utilService.getDateIsoString(article.createDate) === utilService.getDateIsoString(this.today)"
                  class="badge badge-secondary">new</span>
          </td>
          <td (click)="getArticle(article, $event)">{{article.amount}}</td>
          <td (click)="getArticle(article, $event)">{{this.unitMap.get(article.unitUuid)?.abbreviation}}</td>
          <td (click)="getArticle(article, $event)">{{article.createDate | date: 'dd.MM.'}}</td>
          <td>
            <img src="../../../assets/img/check-mark.svg" (click)="setArticleBought(article)">
            <img src="../../../assets/img/rubbish-bin.svg" (click)="deleteArticle(article)">
          </td>
        </tr>
        <tr class="articleDetailRow--collapsed">
          <td colspan="5" style="background-color: white;">
            <div class="articleDetailsContainer">
              <div class="fntSize10" style="text-align: left; margin: 0 5px; color: black">
                <span>article details</span>
              </div>
              <div class="articleDetails fntSize9">
                <div>
                  <table style="margin-bottom: 0; border: solid lightgray; border-width: 0 0 0 1px;">
                    <tr>
                      <td style="font-weight: bold">from</td>
                    </tr>
                    <tr>
                      <td style="padding-top: 0;">{{this.userMap.get(article.userUuid)?.username}}</td>
                    </tr>
                  </table>
                </div>
                <div>
                  <table style="margin-bottom: 0;border: solid lightgray; border-width: 0 0 0 1px;">
                    <tr>
                      <td style="font-weight: bold">name</td>
                    </tr>
                    <tr>
                      <td style="padding-top: 0; word-break: break-word;">{{article.name}}</td>
                    </tr>
                  </table>
                </div>
                <div>
                  <table style="margin-bottom: 0;border: solid lightgray; border-width: 0 0 0 1px;">
                    <tr>
                      <td style="font-weight: bold">amount</td>
                    </tr>
                    <tr>
                      <td style="padding-top: 0;">{{article.amount}}</td>
                    </tr>
                  </table>
                </div>
                <div>
                  <table style="margin-bottom: 0; border: solid lightgray; border-width: 0 0 0 1px;">
                    <tr>
                      <td style="font-weight: bold">unit</td>
                    </tr>
                    <tr>
                      <td style="padding-top: 0;">{{this.unitMap.get(article.unitUuid)?.name}}</td>
                    </tr>
                  </table>
                </div>
                <div>
                  <table style="margin-bottom: 0; border: solid lightgray; border-width: 0 0 0 1px;">
                    <tr>
                      <td style="font-weight: bold">modified</td>
                    </tr>
                    <tr>
                      <td style="padding-top: 0;">{{article.modifyDate | date: 'dd.MM.yy'}}</td>
                    </tr>
                  </table>
                </div>
                <div>
                  <table style="margin-bottom: 0; border: solid lightgray; border-width: 0 0 0 1px;">
                    <tr>
                      <td style="font-weight: bold">created</td>
                    </tr>
                    <tr>
                      <td style="padding-top: 0;">{{article.createDate | date: 'dd.MM.yy'}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
      <tr style="background-color: white;">
        <td colspan="5" style="padding: 0; background-color: white; align-items: center;  padding: 5px">
          <div style="display: flex; align-items: center">
            <img src="../../../assets/img/calendar.svg" style="margin-left: 5px; margin-right: 5px;">
            <form [formGroup]="dateForm" style="width: 100%">
              <select formControlName="date" id="filterSelect" class="form-control form-control-sm"
                      (change)="filterTable()">
                <option value="all">all</option>
                <ng-container *ngFor="let date of dates">
                  <option value="{{date}}">{{getArticleAmount(date)}} - {{utilService.getWeekDay(date.getDay())}},
                    {{date | date: 'dd.MM.yyyy'}}
                  </option>
                </ng-container>
              </select>
            </form>
          </div>
          <!--          <div class="fntSize9 chipContainer">
                      <div class="chip active" (click)="showAll();">
                        <p style="margin-bottom: 0;">all</p>
                        <div class="badge badge-secondary">New</div>
                      </div>
                      <ng-container *ngFor="let date of dates">
                        <div class="chip" (click)="switchToList(date, $event)">
                          <p style="margin-bottom: 0;">{{weekDay[date.getDay()].substr(0, 3)}}, {{date | date: 'dd.MM.'}}</p>
                          <div class="badge badge-secondary">New</div>
                        </div>
                      </ng-container>
                    </div>-->
        </td>
      </tr>
    </table>
  </div>
  <!--
  -------------------------------------------- TABLE 2 ----------------------------------------
  -->
  <div class="col-lg-12 tableTitle">
    <h2 class="tableTitleHeader bgDarkGray textColorBeige">Articles</h2><br/>
    <p class="textColorBeige tableTitlePara bgDimGray">this week</p>
  </div>
  <div class="col-lg-12">
    <table class="shadow" style="text-align: center">
      <tr style="background-color: darkgray">
        <!--        <th style="width: 10%">
                  <div class="aligner">
                    <div class="text">von</div>
                    <div class="icon">
                      <img class="filterIcon" src="../../../assets/img/up-arrow-key.svg"
                           (click)="this.utilService.sortArticleOwnerLexigraphical(articlesArchived, userMap, 'desc')">
                      <img class="filterIcon" src="../../../assets/img/downwards-arrow-key.svg"
                           (click)="this.utilService.sortArticleOwnerLexigraphical(articlesArchived, userMap, 'asc')">
                    </div>
                  </div>
                </th>-->
        <th class="sort">
          <div class="aligner">
            <div class="text">name</div>
            <div class="icon">
              <img class="filterIcon" src="../../../assets/img/up-arrow-key.svg"
                   (click)="this.utilService.sortArticleNameLexigraphical(articlesArchived, 'desc')">
              <img class="filterIcon" src="../../../assets/img/downwards-arrow-key.svg"
                   (click)="this.utilService.sortArticleNameLexigraphical(articlesArchived, 'asc')">
            </div>
          </div>
        </th>
        <th style="width: 12%">
          <div class="aligner">
            <div class="text">menge</div>
            <div class="icon">
              <img class="filterIcon" src="../../../assets/img/up-arrow-key.svg"
                   (click)="this.utilService.sortArticleAmountNumeric(articlesArchived, 'desc')">
              <img class="filterIcon" src="../../../assets/img/downwards-arrow-key.svg"
                   (click)="this.utilService.sortArticleAmountNumeric(articlesArchived, 'asc')">
            </div>
          </div>
        </th>
        <th style="width: 12%">
          <div class="aligner">
            <div class="text">einheit</div>
            <div class="icon"></div>
          </div>
        </th>
        <th style="width: 12%">
          <div class="aligner">
            <div class="text">erstellt</div>
            <div class="icon">
              <img class="filterIcon" src="../../../assets/img/up-arrow-key.svg"
                   (click)="this.utilService.sortArticleCreateDate(articlesArchived, 'desc')">
              <img class="filterIcon" src="../../../assets/img/downwards-arrow-key.svg"
                   (click)="this.utilService.sortArticleCreateDate(articlesArchived, 'asc')">
            </div>
          </div>
        </th>
        <th style="width: 8%; min-width: 60px;">
          <div class="aligner">
            <div class="text">aktion</div>
            <div class="icon"></div>
          </div>
        </th>
      </tr>
      <ng-container *ngFor="let article of articlesArchived | paginate: { itemsPerPage: 15, currentPage: pArchived}">
        <tr class="tableHover fntSize10 bgLight" style="border: 1px solid lightgray; border-width: 0 0 1px 0;">
          <!--        <td (click)="getArticle(article)">{{this.userMap.get(article.userUuid)?.username.substr(0, 2)}}</td>-->
          <td style="word-break: break-word; text-align: left" (click)="getArticle(article, $event)">
            <img src="../../../assets/img/groceries_white.svg">
            {{article.name}}</td>
          <td (click)="getArticle(article, $event)">{{article.amount}}</td>
          <td (click)="getArticle(article, $event)">{{this.unitMap.get(article.unitUuid)?.abbreviation}}</td>
          <td (click)="getArticle(article, $event)">{{article.createDate | date: 'dd.MM.'}}</td>
          <!--<td (click)="getArticle(article.id)">{{article.modifyDate.substr(0, 10)}}</td>-->
          <td>
            <img src="../../../assets/img/edit.svg">
          </td>
        </tr>
        <tr class="articleDetailRow--collapsed">
          <td colspan="5" style="background-color: white;">
            <div class="articleDetailsContainer">
              <div class="fntSize10" style="text-align: left; margin: 0 5px;">
                <span>article details</span>
              </div>
              <div class="articleDetails fntSize9">
                <div>
                  <table style="margin-bottom: 0;">
                    <tr>
                      <td style="font-weight: bold">from</td>
                    </tr>
                    <tr>
                      <td style="padding-top: 0;">{{this.userMap.get(article.userUuid)?.username}}</td>
                    </tr>
                  </table>
                </div>
                <div>
                  <table style="margin-bottom: 0;">
                    <tr>
                      <td style="font-weight: bold">name</td>
                    </tr>
                    <tr>
                      <td style="padding-top: 0; word-break: break-word;">{{article.name}}</td>
                    </tr>
                  </table>
                </div>
                <div>
                  <table style="margin-bottom: 0;">
                    <tr>
                      <td style="font-weight: bold">amount</td>
                    </tr>
                    <tr>
                      <td style="padding-top: 0;">{{article.amount}}</td>
                    </tr>
                  </table>
                </div>
                <div>
                  <table style="margin-bottom: 0;">
                    <tr>
                      <td style="font-weight: bold">unit</td>
                    </tr>
                    <tr>
                      <td style="padding-top: 0;">{{this.unitMap.get(article.unitUuid)?.name}}</td>
                    </tr>
                  </table>
                </div>
                <div>
                  <table style="margin-bottom: 0;">
                    <tr>
                      <td style="font-weight: bold">modified</td>
                    </tr>
                    <tr>
                      <td style="padding-top: 0;">{{article.modifyDate | date: 'dd.MM.yy'}}</td>
                    </tr>
                  </table>
                </div>
                <div>
                  <table style="margin-bottom: 0;">
                    <tr>
                      <td style="font-weight: bold">created</td>
                    </tr>
                    <tr>
                      <td style="padding-top: 0;">{{article.createDate | date: 'dd.MM.yy'}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </table>
    <div class="text-center">
      <pagination-controls class="my-pagination" (pageChange)="pArchived = $event"></pagination-controls>
    </div>
  </div>
  <app-article-details-update [article]="article"></app-article-details-update>
</div>
<!--<li role="menuitem"><button class="dropdown-item">test</button></li>-->
