<div id="dimmer" class="dimmer"></div>
<form [formGroup]="form" (ngSubmit)="submit(form)">

  <!-- The Modal -->
  <div id="myModal" class="modal">
    <div class="modal-dialog">
      <div class="modal-content bgBeige">

        <!-- Modal Header -->
        <div class="modal-header">
          <h1 class="headerPrimaryDarkCyanBeige">Recipe</h1>
          <p class="headerSecondaryTealBeige">add to list</p>
          <button type="button" class="close" (click)="closeModal()">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body" style="padding: 10px;">
<!--          <div class="form-group">
            <label for="recipename" class="headerSecondaryTealBeige">name</label>
            <br/>
            <input id="recipename" class="form-control form-control-sm" formControlName="name"
                   type="text" placeholder="Name...">
          </div>-->
          <label for="date" class="headerSecondaryTealBeige">date</label>
          <input id="date" type="date" name="buyDate" class="form-control form-control-sm"
                 formControlName="date">
          <div class="input-group mb-3 justify-content-lg-center" style="margin-bottom: 10px !important;">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <img src="../../../assets/img/magnifier.svg" style="width: 23px; height: 23px;">
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Recipe"
                   aria-label="Username" aria-describedby="basic-addon1" (keyup)="filterRecipes($event)">
          </div>
          <table id="articleAddTable">
            <tr>
              <th>name</th>
              <th>by</th>
              <th>created</th>
            </tr>
            <tr class="tableHover" (click)="selectRecipe(recipe, $event)"
                *ngFor="let recipe of filteredRecipes | paginate: { itemsPerPage: 5, currentPage: pArchived}">
              <td>{{recipe.name}}</td>
              <td>{{recipe.userDto.username}}</td>
              <td>{{recipe.createDate | date: 'dd.MM.yy'}}</td>
            </tr>
          </table>
          <div class="text-center">
            <pagination-controls class="my-pagination" (pageChange)="pArchived = $event"></pagination-controls>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btnSimple" (click)="closeModal()">close</button>
          <button id="submitButton" type="submit" class="btnSimple" disabled>add</button>
        </div>
      </div>
    </div>
  </div>
</form>
