#myModal {
  animation-duration: .75s;
  animation-name: slidein;
  animation-fill-mode: forwards;
  z-index: 10;
  display: block;
}

@keyframes slidein {
  from {
    margin-top: -50%;
    /*width: 300%;*/
  }

  to {
    margin-top: 5%;
    /*width: 100%;*/
  }
}

.modal-header {
  border: none;
  padding-bottom: 0;
}

.modal-footer {
  padding: 10px;
  justify-content: center;
  border: none;
}

.addBtn {
  padding: 0;
  width: 40px;
  display: inline;
  height: 31px;
  margin: 4px 2px 0;
}

input, select {
  margin-bottom: 10px;
}

.closebtn {
  padding-left: 10px;
  font-weight: bold;
  float: right;
  font-size: 10pt;
  cursor: pointer;
}

.closebtn:hover {
  color: #000;
}

.chip {
  display: inline-block;
  padding: 0 10px;
  height: 25px;
  line-height: 25px;
  border-radius: 5px;
  margin: 5px;
}

.chipContainer {
  padding: 5px;
  min-height: 45px;
  max-height: 90px;
  overflow: auto;
  border-radius: unset;
  background-color: #dedede;
  box-shadow: inset 4px 4px 7px -4px rgba(0,0,0,0.75);
}

