<div id="dimmer" class="dimmer"></div>
<!-- The Modal -->
<div id="myModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content bgBeige">

      <!-- Modal Header -->
      <div class="modal-header">
        <h1 class="headerPrimaryDarkCyanBeige">Units</h1>
        <p class="headerSecondaryTealBeige">add</p>
        <button type="button" class="close" (click)="closeModal()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="submit(form)">
          <div class="form-group">
            <label for="unitname" class="headerSecondaryTealBeige">unit</label>
            <br/>
            <input id="unitname" class="form-control form-control-sm" formControlName="unitname"
                   type="text" placeholder="Name...">
            <label for="abbreviation" class="headerSecondaryTealBeige">abbreviation</label>
            <br/>
            <input id="abbreviation" class="form-control form-control-sm"
                   formControlName="abbreviation" type="text" placeholder="pkg...">
            <button class="btn-default" style="margin: 0 5px 10px" type="submit">Add</button>
          </div>
        </form>
        <div class="chipContainer">
          <div class="chip fntSize10 bgDarkCyan textColorBeige" *ngFor="let unit of unitNewList">
            {{unit.name}} {{unit.abbreviation}}
            <span class="closebtn bgDarkCyan" (click)="removeUnitFromArray(unit)">&times;</span>
          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btnSimple" (click)="closeModal()">close</button>
        <button type="button" class="btnSimple" (click)="onDone()">done</button>
      </div>

    </div>
  </div>
</div>
